/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p {
    margin: 3;
    padding: 0;
}

h3 {
    font-size: 14px;
    color: orangered;
    font-weight: bold;
    text-decoration: underline;
}

/* Style de base pour le corps du document */
body {
    margin: 3%;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    font-size: 13px;
    line-height: 1.6;
    text-align: justify-all;
    padding: 20px;

}

/* Style de l'en-tête (header) */
header {
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}
/* Style du titre h1 dans l'en-tête */
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Style de la navigation (nav) */
nav {
    background-color: black;
    padding: 0px;
}

/* Style des liens de navigation (a) */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

/* Style des liens au survol (hover) */
nav a:hover {
    text-decoration: underline;
}

img {
  width: 60%; /* Définir une largeur fixe */
  height: 60% ; /* Définir une hauteur fixe */
}

.point {
    width: 5px; /* Largeur du point d'intérêt */
    height: 5px; /* Hauteur du point d'intérêt */
    background-color: black; /* Couleur du point d'intérêt */
    border-radius: 50%; /* Pour rendre le point rond */
    box-shadow: 0 0 0 2px black; /* Crée un cercle noir avec un espace transparent au centre */
    cursor: pointer;
    position: absolute;
    display: flex; /* Pour centrer le contenu (texte/chiffres) */
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    font-size: 16px; /* Taille de la police */
    color: white; /* Couleur du texte */
}

.map-container {
    text-align: center;
    margin: 0 auto;
    width: 500px; /* Ajustez la largeur à celle de votre carte */
    height: 530px; /* Ajustez la hauteur à celle de votre carte */
    position: relative;
    background-image: url('carte2.png'); /* Ajoutez le chemin de votre image de carte */
    background-size: cover;
}

.container {
text-align: center;
}

/*Style de mon texte en gras */

.btn {
    height: 30px;
    width: 30px;
    background: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-image: url('img/fleche.png'); /* Ajoutez le chemin de votre image de carte */
}
.icone {
    width: 50px;
}

.text_gras {
    font-weight: bold;
}

/* Style de mon texte souligné */
.souligne {
    color:orangered;
    text-decoration: underline;
    font-weight: bold;
}

