/* Réinitialisation des styles par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 15px;
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

/* Style de base pour le corps du document */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    font-size: 13px;
    line-height: 1.6;
    text-align: justify-all;
    padding: 20px;

}

/* Style de l'en-tête (header) */
header {
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
}
/* Style du titre h1 dans l'en-tête */
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Style de la navigation (nav) */
nav {
    background-color: black;
    padding: 10px;
}

/* Style des liens de navigation (a) */
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

/* Style des liens au survol (hover) */
nav a:hover {
    text-decoration: underline;
}

img {
  width:; /* Définir une largeur fixe */
  height: ; /* Définir une hauteur fixe */
}

.container {
text-align: center;
}


/*Style de mon texte en gras */

.btn {
    height: 30px;
    width: 30px;
    background: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background-image: url('img/fleche.png'); /* Ajoutez le chemin de votre image de carte */
}
.icone {
    width: 50px;
}

.text_gras {
    font-weight: bold;
}

/* Style de mon texte souligné */
.souligne {
    text-decoration: underline;
}

